* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #FFF;
    background: rgb(12, 12, 12);
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.wrapper {
    background: rgb(12, 12, 12);
    width: 100%;
}

.text-wrapper {
    background: #1E1E1E;
    width: 100%
}

.container {
    max-width: 80%;
    align-content: center;
    margin: 0 auto 70px;
}
