@import url('css/general.css');
@import url('css/hero.css');
@import url('css/header.css');
@import url('css/footer.css');

.algorithms{
    padding-top: 50px;
    font-size: 32px;
    font-weight: 600;
}

.algorithms .block {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 50px 0;
    flex-wrap: wrap;
}

.algorithms a {
    display: block;
    text-align: center;
    color: #F5F5F5;
}
.algorithms .block .algorithm-item {
    display: flex;
    flex-direction: column;
    width: 40%;
    justify-content: space-between;
    margin-bottom: 30px
}

.algorithms .block .algorithm-item span {
    display: block;
    text-align: center;
}



