@import url('../../css/general.css');
@import url('../../css/hero.css');
@import url('../../css/header.css');
@import url('../../css/footer.css');

/*tree*/

.node circle {
    fill: #fff;
    stroke: black;
    stroke-width: 2px;
}

.link {
    fill: none;
    stroke: #6f6f6f;
    stroke-width: 2px;
}

#tree-container {
    width: 100%;
    height: 500px;
    border: 1px solid #ccc;
    overflow: hidden;
    background-color: #000000;
}

.node.highlighted circle {
    fill: green;
}

/*main block*/

.algorithms {
    display: flex;
    padding-top: 50px;
    font-size: 32px;
    font-weight: 600;
    justify-content: center;
    padding-bottom: 150px;
    align-items: center;
}

.block {
    background: #1E1E1E;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 50px;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 1px 2px 0 #1E1E1E, 0 2px 8px 0 #1E1E1E;
    align-items: center;
}
#wrap {
    padding-bottom: 100px;
}

.settings {
    background: #1E1E1E;
    padding: 50px;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 1px 2px 0 #1E1E1E, 0 2px 8px 0 #1E1E1E;
    align-items: center;
    margin-bottom: 100px;
}

.settings .form-my,
.settings .form-group,
.settings .form-check {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 24px;
    font-weight: 400;
}

.settings .form-group {
    width: 30%;
}

.settings h5 {
    font-size: 48px;
    font-weight: 600;
    text-align: center;
    padding-top: 25px;
}
.my-button  {
    background: #444;
    border: none;
    color: #F5F5F5;
    transition: background-color 0.5s;
    transition-duration: 0.1s;
}
.my-button:hover {
    color: white;
    background: #6c6c6c;

}
.my-button:active {
    color: white;
    background: #5e5e5e;
}







