body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(175, 175, 175, 0.73);
    margin: 20px;
}

.controls {
    margin-bottom: 30px;
}

#container {
    display: grid;
    width: 300px;
    height: 300px;
}

.square {
    background-color: hotpink;
    width: 100%;
    height: 100%;
    transition: background-color 0.1s;
}

.square.wall {
    background-color: #000000;
}

.square.passage {
    background-color: #ffffff;
}

.square.main {
    background-color: darkgreen;
}

.square.path {
    background-color: #ff0000;
}

.square.sidePath{
    background-color: #ffc437;
}

.square.mainPath {
    background-color: #80ff00;
}
.square.pointedPath {}