<footer id="footer" class="container">
    <a href="#"><img class="logo" src="/../static/icons/Team608.png" width="128" alt=""> </a>
    <nav class="social-icons">
        <ul>
            <li><a target="_blank" href="https://instagram.com"><img src="/../static/icons/instagram.png"
                                                                     alt="Instagram" width="32"></a></li>
            <li><a target="_blank" href="https://t.me/tsu_hits"><img src="/../static/icons/telegram.png"
                                                                     alt="Telegram" width="32"></a></li>
            <li><a target="_blank" href="https://vk.com/hits_tsu"><img src="/../static/icons/vk.png" alt="VK"
                                                                       width="32"></a></li>
        </ul>
    </nav>
    <nav class="information">
        <ul>
            <li aria-haspopup="true" aria-expanded="false">
                <nav class="Social-networks">
                    <a class="title-information">Social networks</a>
                    <ul>
                        <li class="myBtn-nav"><a target="_blank" href="https://t.me/tsu_hits">Telegram</a></li>
                        <li class="myBtn-nav"><a target="_blank" href="https://vk.com/hits_tsu">VK</a></li>
                        <li class="myBtn-nav"><a target="_blank" href="https://instagram.com">Instagram</a></li>
                    </ul>
                </nav>
            </li>
            <li aria-haspopup="true" aria-expanded="false">
                <nav class="Useful-links">
                    <a class="title-information">Useful links</a>
                    <ul>
                        <li class="myBtn-nav"><a href="#">Privacy Policy</a></li>
                        <li class="myBtn-nav"><a href="#">Terms of use</a></li>
                        <li class="myBtn-nav"><a href="#">Questions and Answers (FAQ)</a></li>
                    </ul>
                </nav>
            </li>
            <li aria-haspopup="true" aria-expanded="false">
                <a class="title-information">Contact</a>
                <nav class="Contact-information">
                    <ul>
                        <li class="myBtn-nav"><a target="_blank"
                                                 href="https://yandex.ru/maps/geo/posyolok_gorodskogo_tipa_mundybash/53110542/?ll=87.283430%2C53.207664&z=14">Address:
                            г. Мундыбаш</a></li>
                        <li class="myBtn-nav"><a target="_blank" href="mailto:MewMew@domain.com">Email:
                            MewMew@domain.com</a></li>
                        <li class="myBtn-nav"><a target="_blank" href="tel:+1234567890">Support: +7 912 345 67
                            89</a></li>
                    </ul>
                </nav>
            </li>
        </ul>
    </nav>
</footer>
<style>
    footer {
        background: #1E1E1E;
        color: #FFFFFF;
        text-align: center;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .social-icons ul {
        width: 200px;
        margin-top: 50px;
        display: flex;
        justify-content: flex-start;
        margin-right: 50px;
        list-style-type: none;
        padding: 0;
    }

    .social-icons ul li {
        margin-right: 10px;
    }

    .social-icons ul li a {
        display: block;
    }

    .information {
        width: 70%;
        padding: 40px 0;
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .information ul {
        list-style-type: none;
        padding: 0;
        display: flex;
    }

    .title-information {
        font-size: 16px;
        font-weight: 400;
        display: flex;
        flex-direction: row;
    }

    .information .Social-networks ul,
    .information .Useful-links ul,
    .information .Contact-information ul {
        width: 100%;
        text-align: left;
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        list-style-type: none;
        padding: 0;
    }

    .information ul li {
        margin: 0 50px 0 0;
    }

    footer nav ul li.myBtn-nav {
        color: #FFFFFF;
        text-decoration: none;
        font-size: 14px;
        transition: color 0.3s ease;
    }

    footer nav ul li:not(.myBtn-nav) a {
        color: #FFFFFF;
        text-decoration: none;
        font-size: 14px;
    }
</style>