<div class="wrapper">
  <header class="container">
    <a href="#"><img class="logo" src="../../static/icons/Team608.png" width="128" alt=""> </a>
    <nav>
      <ul>
        <li id="homepage-button" class="myBtn-nav"><a href="../../main.html">Home</a></li>
        <li id="algorithms-button" class="myBtn-nav nav-item dropdown active">
          <a href="#container" class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown"
             aria-expanded="false">
            Algorithms
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="../../apps/AStar/index.html">A-Star find Path</a></li>
            <li><a class="dropdown-item" href="../../apps/Cluster/index.html">Clustering</a></li>
            <li><a class="dropdown-item" href="../../apps/Genetic/index.html">Genetic algorithm</a></li>
            <li><a class="dropdown-item" href="../../apps/Ant/index.html">Ant colony Algorithm</a></li>
            <li><a class="dropdown-item" href="../../apps/DecisionTree/index.html">Decision Tree</a></li>
            <li><a class="dropdown-item" href="../../apps/NeuralNetwork/index.html">Neural Network</a></li>

          </ul>
        </li>
        <li class="myBtn-nav"><a href="#footer">Contact</a></li>
      </ul>
    </nav>
  </header>
</div>