@import url('../../css/general.css');
@import url('../../css/hero.css');
@import url('../../css/header.css');
@import url('../../css/footer.css');

canvas {
    border: 1px solid black;
    background-color: white;
}



/*main block*/
.algorithms {
    display: flex;
    padding-top: 50px;
    font-size: 32px;
    font-weight: 600;
    justify-content: center;
    padding-bottom: 150px;
    align-items: center;
}


.algorithms .block {
    background: #1E1E1E;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 1px 2px 0 #1E1E1E, 0 2px 8px 0 #1E1E1E;
    align-items: center;
}

#mainCanvas {
    border: 1px solid rgb(12, 12, 12);
    box-shadow: 0 2px 4px 0 rgb(12, 12, 12), 0 2px 8px 0 rgb(12, 12, 12);
}

.algorithms .general-buttons button {
    background: #444;
    border: none;
    color: #F5F5F5;
    transition: background-color 0.5s;
    transition-duration: 0.1s;
}

.algorithms .general-buttons button:hover {
    color: white;
    background: #6c6c6c;

}

.algorithms .general-buttons button:active {
    color: white;
    background: #5e5e5e;
}


.general-buttons {
    gap: 20px;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
}

.general-buttons button {
    background: #444;
    border-radius: 5px;
    font-size: 24px;
    padding-left: 70px;
    padding-right: 70px;
}


#predicted-result {
    text-align: center;
    margin-top: 25px;
    font-size: 32px;
}
